Query additionnal attributes support

Implement [RFC7644 §3.9](https://datatracker.ietf.org/doc/html/rfc7644#section-3.9) additional attributes support for queries.