Bulk operations support

Implement [RFC7644 §3.7](https://datatracker.ietf.org/doc/html/rfc7644#section-3.7) bulk operations.