`/Me` endpoints support

[RFC7644 §3.11](https://datatracker.ietf.org/doc/html/rfc7644#section-3.11) defines a `/Me` endpoint.
httpx-scim-client should handle that endpoint